<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="projectLoaderShortcuts" type="Microsoft.TestArchitect.Version3.Clients.Windowed.ProjectLoaderShortcutsHandler,TA.WindowedClient" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TALogger" publicKeyToken="fc727eff5e0ebe4a" />
        <!-- Redirect the old version of the assembly to the new version. -->
        <bindingRedirect oldVersion="2.0.0.0 - 3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
  <appSettings>
    <!--Environment Information-->
    <add key="AuthenticationType" value="OnlineFederationOrgId" />
    <add key="ClientMode" value="WebApp" />
    <add key="BrowserToLaunch" value="Chrome" />
    <add key="IsHeadLess" value="False" />
    <add key="WindowsResolutionHeadLess" value="window-size=1920,1080" />
    <add key="OutlookVersion" value="None" />
    <add key="MobilePlatform" value="None" />
    <add key="DeploymentType" value="Live" />
    <add key="Language" value="random" />
    <add key="ProxyConfiguration" value="{ BindingUseDefaultWebProxy = 'False' }" />
    <add key="BackEndServiceEnabled" value="False" />
    <add key="SatPlatform" value="Desktop" />
    <add key="SatAppiumServerIp" value="127.0.0.1" />
    <add key="SatBrowserWindowHeight" value="maximize" />
    <add key="SatBrowserWindowWidth" value="maximize" />
    <add key="SatIsShim" value="False" />
    <add key="SatShimFullReset" value="True" />
    <add key="SatShimNoReset" value="True" />
    <add key="SatDeviceType" value="tablet" />
    <add key="MailAppAutomationHost" value="mock" />
    <add key="MailAppMockOutlookUrl" value="http://localhost:8081" />
    <!--Authentication & AD Settings-->
    <add key="ServerDomain" value="crm2.crmlivetie.com" />
    <add key="ServerUserName" value="crmadmin@SG441Tenant194.ccsctp.net" />
    <add key="ServerPassword" value="Micr0s0ft" />
    <add key="DomainAdministrators" value="{ { Domain = 'crm2.crmlivetie.com', UserName = 'crmadmin@SG441Tenant194.ccsctp.net', Password = 'Micr0s0ft' } }" />
    <add key="AdminDomain" value="crm2.crmlivetie.com" />
    <add key="AdminName" value="crmadmin@SG441Tenant194.ccsctp.net" />
    <add key="AdminPassword" value="Micr0s0ft" />
    <add key="UserDomain" value="crm2.crmlivetie.com" />
    <add key="UserName" value="crmadmin@SG441Tenant194.ccsctp.net" />
    <add key="UserPassword" value="Micr0s0ft" />
    <add key="SupportDashboardUserDomain" value="crm2.crmlivetie.com" />
    <add key="SupportDashboardUserName" value="crmadmin@SG441Tenant194.ccsctp.net" />
    <add key="SupportDashboardUserPassword" value="Micr0s0ft" />
    <add key="MonitoringOrganizationUserPuid" value="0006000080000001" />
    <add key="PrivilegedUserGroupName" value="PrivUserGroup" />
    <add key="SqlAccessGroupName" value="SQLAccessGroup" />
    <add key="ReportingGroupName" value="ReportingGroup" />
    <add key="PrivReportingGroupName" value="PrivReportingGroup" />
    <!--Server & Organization Names-->
    <add key="ExchangeProtocol" value="EWS" />
    <add key="ExchangeVersion" value="Exchange2007" />
    <add key="ExchangeServerName" value="CRMEX36.CRMEX36DOM.extest.microsoft.com" />
    <add key="ServerName" value="ASKLAP" />
    <add key="OrganizationName" value="sg441cshti2org194" />
    <add key="OrganizationFriendlyName" value="sg441cshti2org194" />
    <add key="BackCompatOrganizationName" value="AdventureWorksCycle" />
    <add key="BackCompatOrganizationFriendlyName" value="Adventure Works Cycle" />
    <!--Connection Strings-->
    <add key="SQLCNN" value="Data Source=ASKLAP;Initial Catalog=sg441cshti2org194_MSCRM;uid=sa;pwd=Micr0s0ft" />
    <add key="SQLCNNWin" value="Data Source=ASKLAP;Initial Catalog=sg441cshti2org194_MSCRM;Integrated Security=SSPI" />
    <!--Urls, Uris, and Paths-->
    <add key="RootDiscoveryServiceUrl" value="https://disco.crm2.crmlivetie.com/" />
    <add key="RootDeploymentServiceUrl" value="https://disco.crm2.crmlivetie.com/" />
    <add key="RootFederationProviderUrl" value="http://localhost/" />
    <add key="SRSWebService" value="http://crm630ws/reportserver/ReportService.asmx" />
    <!--BackCompat Urls, Uris, and Paths-->
    <add key="BackCompatRootDiscoveryServiceUrl" value="http://localhost/" />
    <!--Live Specific-->
    <add key="OsdpStandardSku" value="CRMSTND-ASKLAP" />
    <add key="OsdpStorageSku" value="CRMSTOR-ASKLAP" />
    <add key="OsdpInstanceSku" value="CRMINST-ASKLAP" />
    <add key="PassportSiteDomain" value="www.local-titan.com" />
    <add key="PortalPassportUserEmail" value="titandeveloper@hotmail-int.com" />
    <add key="PortalPassportUserPuid" value="000600008057E4CA" />
    <add key="CrmLive.PlatformServerUrl" value="https://disco.crm2.crmlivetie.com/" />
    <add key="CrmLive.ReportServerUrl" value="https://disco.crm2.crmlivetie.com/" />
    <add key="ReportServerUrl2" value="https://disco.crm2.crmlivetie.com/" />
    <add key="CrmLive.ExistingOrganization" value="sg441cshti2org194" />
    <add key="Crmlive.NewUserPmn" value="crmadmin@SG441Tenant194.ccsctp.net" />
    <add key="Crmlive.NewUserPmnPassword" value="Micr0s0ft" />
    <add key="CrmLive.PrimaryServer" value="ASKLAP" />
    <add key="CrmLive.SecondaryServer" value="ASKLAP" />
    <add key="LiveAdminServiceUrl" value="http://localhost/CrmLiveAdminWebservice/CrmLiveAdmin.asmx" />
    <add key="CrmLiveSite" value="www.local-titan.com" />
    <add key="Environment" value="INT" />
    <!--Product Studio Reporting-->
    <add key="ProductName" value="Microsoft CRM" />
    <add key="ReportResults" value="False" />
    <add key="AutoResolve" value="False" />
    <add key="RunPurpose" value="Private" />
    <add key="ServerConfig" value="On-Premise-1 Server Config" />
    <add key="EndPoints" value="PsWsReporting;Notify;TestCaseRerun" />
    <add key="IsTestCaseRerun" value="False" />
    <add key="TestCaseRerunPsqFile" value="TestCaseFailures_1.psq" />
    <add key="TestCaseResultMapFile" value="TestCaseFailures_1.xml" />
    <!--Setup-->
    <add key="SetupState" value="PostInstall" />
    <add key="CrmInstallDir" value="C:\Program Files (x86)\MSCRM" />
    <add key="SqlServer" value="ASKLAP" />
    <add key="Version" value="1.0.0.0" />
    <add key="SetupUser" value="askumar" />
    <add key="WebsiteUrl" value="http://localhost" />
    <add key="LanguageId" value="1033" />
    <add key="WebsiteCreate" value="False" />
    <add key="CrmServiceAccountType" value="NetworkService" />
    <add key="SandboxServiceAccountType" value="NetworkService" />
    <add key="CreateGroups" value="False" />
    <add key="LicenseKey" value="R7MPM-R36DT-F38FC-RPPCX-XJG7M" />
    <add key="OrgCollation" value="Latin1_General_CI_AI" />
    <add key="OrgBaseLanguage" value="1033" />
    <!--Test Infrastructure-->
    <add key="TestInfrastructureServiceType" value="ProductStudioServices" />
    <add key="TestInfrastructureService" value="http://crmtoolsweb/ProductStudioServices/Service.asmx" />
    <add key="TestInfrastructureServiceIsPreproduction" value="False" />
    <add key="AutomationClientCategoryId" value="0" />
    <add key="AutomationRunIndex" value="0" />
    <add key="TestInfrastructureFileShare" value="\\crmdist3\TestCaseLogs" />
    <add key="TestCaseAssemblyLocation" value="c:\createDataRepo\CreateData\CreateDataInOnlineEnv\Binaries" />
    <add key="DumpProcess" value="None" />
    <add key="DumpProcessDebuggerPath" value="c:\debuggers\cdb.exe" />
    <add key="RunAsRole" value="None" />
    <add key="RandomSeed" value="-1" />
    <add key="EventLogReportingConfiguration" value="{ { Roles = { 'local' }, Sources = { 'MSCRMAddin' } } }" />
    <add key="ReportWindowsServiceStateChanges" value="True" />
    <add key="SonarEnabled" value="True" />
    <add key="SonarDelay" value="10000" />
    <add key="SonarPolling" value="10000" />
    <add key="SonarDumpSize" value="1" />
    <add key="DefaultTestCaseRuntimeInMinutes" value="15" />
    <add key="ProfilingMetricMeasurementType" value="None" />
    <add key="CheckForWatsonEvents" value="True" />
    <!--Performance-->
    <add key="PerformanceProfiling" value="False" />
    <add key="PerformanceProfiler" value="F1Profiler" />
    <add key="ReportPerformanceResults" value="False" />
    <add key="CrmPlatformProfiling" value="Off" />
    <add key="MemoryTestGarbageCollect" value="False" />
    <add key="MemoryTestGenerateMemoryDump" value="False" />
    <add key="MemoryTestIterationCount" value="5" />
    <!--Code Coverage-->
    <add key="CodeCoveragePerTestCaseRun" value="False" />
    <!--Loc Testing & Integration-->
    <add key="LocTestIntegration" value="False" />
    <!--Accessibility Testing & Integration-->
    <add key="AccessibilityTestIntegration" value="False" />
    <!--Security Fuzz Testing-->
    <add key="UnicodeCharacterScript" value="BasicLatin" />
    <!--Moca Offline Micro Settings-->
    <add key="SyncWaitTime" value="0" />
    <add key="NoOfHoursSinceProvisioning" value="0" />
  </appSettings>
  <projectLoaderShortcuts>
    <add key="UtfAssemblyLoader" value="CtrlA" />
    <add key="UnitTestSuiteLoader" value="CtrlL" />
    <add key="UnitTestCaseLoader" value="CtrlC" />
    <add key="PsWsIdLoader" value="CtrlG" />
    <add key="PsqWsLoader" value="CtrlQ" />
  </projectLoaderShortcuts>
</configuration>